@font-face {
    font-family: 'Ananda Namaste';
    src: url('fonts/ananda namaste.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.header {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: azure;
    position: fixed;
}

.header .websiteName {
    font-family: 'Ananda Namaste', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bold;
    user-select: none;
    font-size: 220%;
    align-content: center;
}

.header .websiteName img {
    padding-right: 0.3rem;
}

.navbar li {
    align-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
}

.header .links {
    font-size: 120%;
    font-weight: 500;
    margin-right: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

.header .userLinks {
    background-color: azure;
    padding: 0.6rem;
    transition-duration: 0.4s;
    font-family: 'Open Sans', sans-serif;
}

.header .userLinks:hover {
    background-color: rgb(12, 162, 231);
    color: azure;
}

.header .searchBar {
    padding-left: 1.1rem;
    border-radius: 0%;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.header .searchBtn {
    border-radius: 0%;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    background-color: rgb(12, 162, 231);
}